body {
	-webkit-user-select: none;
	overflow: hidden;
}
button {
	padding: 5px 20px;
	position: absolute;
	z-index: 10000000;
}
#create {
	left: 10px;
	top: 10px;
}
#save {
	left: 10px;
	top: 50px;
}
div {
	position: absolute;
}